@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --header-height: 3.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply snap-proximity snap-y;
  }

  body {
    @apply bg-background text-foreground;
  }

  a {
    @apply text-blue-600;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-extrabold;
  }
  h2 {
    @apply text-2xl sm:text-3xl md:text-4xl font-bold;
  }
  h3 {
    @apply text-xl sm:text-2xl md:text-3xl font-medium;
  }
  h4 {
    @apply text-lg sm:text-xl md:text-2xl font-medium;
  }
  h5 {
    @apply text-lg md:text-xl font-medium;
  }
  h6 {
    @apply text-lg font-medium;
  }
  p {
    @apply text-sm md:text-base;
  }

  /* rehype-pretty-code */
  code[data-line-numbers] {
    /* line numbers */
    counter-reset: line;

    > [data-line]::before {
      counter-increment: line;
      content: counter(line);

      @apply inline-block w-8 mr-6 text-right text-muted-foreground;
    }
    &[data-line-numbers-max-digits='3'] > [data-line]::before {
      @apply w-10;
    }

    /* highlighted lines */
    span[data-line] {
      @apply border-l-4 border-transparent;
    }
    span[data-highlighted-line] {
      @apply border-blue-500 bg-blue-500/20;
    }

    /* todo: highlighted chars */
    /* span[data-highlighted-chars] {} https://rehype-pretty-code.netlify.app/#highlight-chars */
  }

  /* inline code */
  :not(pre) > code {
    @apply bg-foreground/20 border border-foreground/30;
    /* border: 1px solid #bcbec0; */
    border-radius: 5px;
    padding: 2px;
  }
}

@layer components {
  .my-container {
    @apply w-full max-w-[1400px] mx-auto px-4 lg:px-8;
  }
  .my-container-full {
    @apply w-full max-w-[1400px] mx-auto;
  }

  .my-flex-row {
    @apply flex items-center;
  }
  .my-flex-col {
    @apply flex flex-col;
  }

  .my-prose {
    @apply prose dark:prose-invert
      prose-ol:mt-1 prose-ul:mt-1 prose-li:my-0.5
      prose-hr:my-8
      prose-pre:px-0
      prose-code:before:hidden prose-code:after:hidden prose-code:font-normal
      max-w-3xl mx-auto;
  }
}

@layer utilities {
  .bg-background-blur {
    @apply backdrop-blur supports-[backdrop-filter]:bg-background/60 bg-background/95;
  }

  .no-ring {
    @apply ring-0 ring-offset-0;
  }
}
